.schema {
  border-left: 4px solid black;
  border-right: 4px solid black;
  display: inline-block;
}
.top-line {
  border-top: 4px solid black;
}
.bottom-line {
  border-bottom: 4px solid black;
}
.right-line {
  border-right: 4px solid black;
  height: 60px;
  display: inline-block;
}
textarea.import{
  margin:1em;
  width:300px;
  height:300px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 20px;
}