<button (click)="solveByStep()">Solve By Step</button>
&nbsp;&nbsp;
<button (click)="autosolve()">Autosolve</button>
&nbsp;&nbsp;
<button (click)="lock()">Lock</button>
&nbsp;&nbsp;
<button (click)="undo()">Undo</button>
&nbsp;&nbsp;
<button (click)="checkSudoku()">Check</button>
&nbsp;&nbsp;
<button (click)="initEmptyMatrix()">Clean</button>
&nbsp;&nbsp;
<button *ngIf="!load" (click)="load=!load">Load</button>
<button *ngIf="load" (click)="import() || load=!load">Import</button>
<br /><br />
<textarea *ngIf="load" class="import" [(ngModel)]="importData"></textarea>
<br /><br />
<div *ngFor="let r of [1,2,3,4,5,6,7,8,9]">
<div
  class="schema"
  [ngClass]="{
    'top-line':r==1,
    'bottom-line':r==3 || r==6 || r==9
  }"
>
  <cell
    [ngClass]="{
      'right-line':c==3 || c==6
    }"
    *ngFor="let c of [1,2,3,4,5,6,7,8,9]"
    [cell]="matrix[r-1][c-1]"
    (cellChange)="cellChange($event)"
  ></cell>
</div>
</div>
<br /><br />
<button (click)="export()">Export</button>
<br /><br />
<textarea class="export" [(ngModel)]="exportData"></textarea>